.main {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.video-player {
  margin: 0.5rem auto;
}

.video-details {
  width: 100%;
}

.card {
}
