<!-- table component  -->
<div class="mytable">
  <!-- <h1>Subscribe to get more out of Streameo</h1> -->
  <mat-toolbar class="component_head">
    <span class="float-right">
      <i class="material-icons">subscriptions</i>
    </span>
    <span>Subscribe to get more out of Streameo</span>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>


    <ng-container matColumnDef="plan1">
      <th mat-header-cell *matHeaderCellDef>Low Resolution</th>
      <td mat-cell *matCellDef="let element"><i class="material-icons">{{ element.plan1}}</i></td>
    </ng-container>

    <ng-container matColumnDef="plan2">
      <th mat-header-cell *matHeaderCellDef>Medium Resolution</th>
      <td mat-cell *matCellDef="let element"><i class="material-icons">{{ element.plan2 }}</i></td>
    </ng-container>

    <ng-container matColumnDef="plan3">
      <th mat-header-cell *matHeaderCellDef>High Resolution</th>
      <td mat-cell *matCellDef="let element"><i class="material-icons">{{ element.plan3 }}</i></td>


    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>


</div>
<span *ngFor="let item of planList">
  <p></p>
</span>
<div class="radio_group">

  <mat-radio-group aria-label="Select an option">
    <span *ngFor="let item of planList">
      <mat-radio-button value="{{item._id}}" class="Radio_btn" (change)="BtnChange($event)">
        <span class="planName">{{item.name | titlecase}} </span>
        <span class="planPrice">{{item.price | currency:'Rs.'}}</span>
      </mat-radio-button>
    </span>
  </mat-radio-group>

  <div>

    <button (click)="onClick()" mat-raised-button color="warn">Proceed to Checkout</button>
  </div>
</div>