<div class="checkout">
  <mat-toolbar>
    <span>
      <i class="material-icons">video_label</i>
      Video Mangement Dashboard
    </span>
  </mat-toolbar>
  <br />
  <div>
    <table class="example-full-width" cellspacing="2" style="text-align: left">
      <th>Select</th>
      <th>Video id</th>
      <th>video</th>
      <th>category</th>
      <th>date</th>
      <th>time</th>
      <th>Edit</th>
      <th>Delete</th>
      <tr>
        <td>
          <section class="example-section">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </section>
        </td>
        <td>
          <mat-label>id</mat-label>
        </td>
        <td>
          <table>
            <tr>
              <td>title for video</td>
            </tr>
            <tr>
              <td>video discription</td>
            </tr>
          </table>
        </td>
        <td>category</td>
        <td>date</td>
        <td>time</td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <section class="example-section">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </section>
        </td>
        <td>
          <mat-label>id</mat-label>
        </td>
        <td>
          <table>
            <tr>
              <td>title for video</td>
            </tr>
            <tr>
              <td>video discription</td>
            </tr>
          </table>
        </td>
        <td>category</td>
        <td>date</td>
        <td>time</td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <section class="example-section">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </section>
        </td>
        <td>
          <mat-label>id</mat-label>
        </td>
        <td>
          <table>
            <tr>
              <td>title for video</td>
            </tr>
            <tr>
              <td>video discription</td>
            </tr>
          </table>
        </td>
        <td>category</td>
        <td>date</td>
        <td>time</td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <section class="example-section">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </section>
        </td>
        <td>
          <mat-label>id</mat-label>
        </td>
        <td>
          <table>
            <tr>
              <td>title for video</td>
            </tr>
            <tr>
              <td>video discription</td>
            </tr>
          </table>
        </td>
        <td>category</td>
        <td>date</td>
        <td>time</td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="primary"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td style="text-align: center">
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
