<div class="main">
  <div class="checkout">
    <mat-toolbar>
      <span>
        <i class="material-icons">video_label</i>
        Video Mangement Dashboard
      </span>
    </mat-toolbar>
    <br />
    <div class="table-wrapper">
      <table
        class="example-full-width"
        cellspacing="2"
        style="text-align: left"
      >
        <th style="text-align: left">Title</th>
        <th>Category</th>
        <th>Processed</th>
        <th>Active</th>
        <th>Privacy</th>
        <th>Views</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr *ngFor="let video of videoList; index as i">
          <td style="text-align: left; color: lightcoral; font-weight: 500">
            {{ video?.title }}
          </td>
          <td>
            {{ video?.category?.name }}
          </td>
          <td>
            {{ video?.video?.processed }}
          </td>
          <td>
            {{ video?.active }}
          </td>
          <td>{{ video?.privacy }}</td>
          <td>{{ video?.views }}</td>
          <td style="text-align: center">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a home icon"
              (click)="redirectToUpdateVideo(video._id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td style="text-align: center">
            <button
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon (click)="deleteVideoById(video._id)">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
