<div class="checkout">

  <mat-toolbar>
    <table>
      <tr>
        <td>
          <span>
            <mat-icon>subscriptions</mat-icon>
            Plan Management Dashboard
          </span>
        </td>
        <td>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon [routerLink]="['/addplans']">add</mat-icon>
          </button>
      </tr>
    </table>
  </mat-toolbar>
  <table class="example-full-width" cellspacing="2" style="text-align: left">
    <th>Plan Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Concurent Stream</th>
    <th>Validity</th>
    <th>Max Quality</th>
    <th>Edit</th>
    <th>Delete</th>

    <tr *ngFor="let item of planList">
      <td>
        <mat-label>{{ item._id }}</mat-label>
      </td>
      <td>
        <mat-label>{{ item.name }} </mat-label>
      </td>
      <td>
        <mat-label>{{ item.price }}</mat-label>
      </td>
      <td>{{ item.concurrent_streams }}</td>
      <td>{{ item.validity }}</td>
      <td>{{ item.max_quality }}</td>
      <td style="text-align: center">
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon (click)="onEdit(item._id)">edit</mat-icon>
        </button>
      </td>
      <td style="text-align: center">
        <a mat-icon-button color="warn" aria-label="Example icon button with a home icon">
          <mat-icon (click)="remove(item._id)">delete</mat-icon>
        </a>
      </td>
    </tr>
  </table>
</div>