<!-- categoryList -->

<div class="setting">
  <mat-toolbar>
    <span class="center">
      <button mat-icon-button>
        <mat-icon>settings_input_svideo</mat-icon>
      </button>
    </span>
    <span>Video Upload Dashboard</span>
  </mat-toolbar>
  <form class="form">
    <table class="table" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="table">
            <mat-label>Title Of Video</mat-label>
            <input
              matInput
              placeholder="Video Name"
              value="export Video name"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="table">
            <mat-label>Video Discription</mat-label>
            <input
              matInput
              placeholder="Discription"
              value="export Discription"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="table">
            <mat-label>Category </mat-label>
            <input matInput disabled value="" />
          </mat-form-field>
        </td>

        <td style="text-align: right;">
          <button mat-flat-button color="primary" (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
            {{isOpen ? "Close" : "Select"}}
          </button>
        </td>

      </tr>

      <tr></tr>
      <tr>
        <td style="text-align: center">
          <span>
            <button mat-flat-button color="primary">upload video</button>
            <button mat-flat-button color="primary">add video</button>
          </span>
        </td>
      </tr>
    </table>
  </form>
</div>

<div>
<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <ul class="example-list">
    <span *ngFor="let category of categoryList">
      <span value="{{category._id}}" >
        <span class="planName">{{category.name | titlecase}} <br></span>
      </span>
  </span>
  </ul>
</ng-template>
</div>




  










<!-- <div ng-app="CategoryList" ng-controller="myCtrl">
 
<select ng-model="selectedName" ng-options="x for x in names">
</select>
 
</div>
 
<script>
 
var app = angular.module('CategoryList', []);
app.controller('myCtrl', function($scope) {
$scope.names = ["Demavand", "Pradeep", "Ashutosh"];
});
</script> -->
