.form {
  min-width: 150px;
  max-width: 95%;
  // width: 100%;
  padding: 10px;
}

.table {
  width: 100%;
}

td {
  // padding-right: 8px;
}
.setting {
  margin: 0 auto;
  width: 50%;
  border-radius: 2px;
  box-shadow: 0px 6px 6px 4px #ccc;
  transition: 15s ease-in;
}

.example-list {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-list > li:last-child {
  border-bottom: none;
}