.main {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.table {
  width: 100%;
}

.setting {
  margin: 0 auto;
  width: 80vw;
  border-radius: 2px;
  box-shadow: 0px 6px 6px 4px #ccc;
  transition: 15s ease-in;
}

.example-list {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-list > li:last-child {
  border-bottom: none;
}

.action-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  button {
    margin: 10px;
    // width: 100px;
  }
  a {
    margin: 10px;
    margin-left: auto;
  }
}

@media (max-width: 500px) {
  .action-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  button {
    margin-bottom: 5px;
    width: 100%;
  }
  a {
    margin-bottom: 5px;
    margin-right: auto;
    width: 100%;
  }
}
