<mat-card class="mat-elevation-z8">
<h1  class="style">About us</h1>
<p class="para">
  Streameo is a Responsive video streaming application  for Video  Streaming. Poviding VOD (Video on Demand) over the internet at the  request and to suit the requirements of the individual user.
  In recent years the online  video streaming platforms is taking over conventional broadcasting service platforms  , thus future scope of this Responsive Web Application is increasing since the viewer base is shifting from  cable based platform to digital platform.
  With Streameo , you can enjoy unlimited viewing of our content without having to watch a single commercial.
  There is always something new to discover, and more TV shows and movies are added over a period of time.
</p>
<h3 class="style">Video Streaming</h3>
<p class="para">
  It is a streaming service that allows our customers to watch a wide variety of Video are present.
  We provide our own Video Player through which user can access all the video which are present in the Application.
  With Streameo , you can enjoy unlimited viewing of our content without having to watch a single commercial.
  There is always something new to discover, and more TV shows and movies are added over a period of time.
</p>
<h3 class="style">Friendly User Interface</h3>
<p class="para">
  Videos on this platform can be accessed  in a faster , easier and smoother way over the Internet.
  Any person having  access to the internet and a web browser can consume videos on this platform at a  very low cost
</p>
<h3 class="style">Content Catalogue</h3>
<p class="para">
  Streamio provide its content with Content Categories and the Latest Videos. User can search and stream video from the categories section.This help user to view single category data
</p>
<h3 class="style">Access</h3>
<p class="para">
  Streamio is a Responsive video streaming application available and can be accessed from server.
</p>
<h2 class="style">Developed by </h2>
<p class="name" >
Adarsh Pandey (200251920003) <br>
Rishabh Aggarwal (200251920076) <br>
Deepak Thakur (200251920030) <br>
Pranjali Raju Ingale( 200251920040) <br>
</p>
</mat-card>


