mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: white;
  width: 200px;
}

li {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
ul {
  padding: 0;
}
.side_bar button {
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}
.side_bar {
  background-color: white;
}
.bgColor {
  background-color: rgba(205, 206, 206, 0.337);
}
