<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button color="accent" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <a mat-button color="link" [routerLink]="['/home']" class="logo">
      <span>streameo </span>
    </a>
    <span class="example-spacer"></span>
    <span *ngIf="loggedin()" style="text-transform: capitalize; font-size: medium">Hi {{ getUser() && user?.firstname
      }}</span>

    <a mat-flat-button color="primary" [routerLink]="['/login']" aria-label="Example icon with heart icon"
      *ngIf="!loggedin()" style="text-transform: capitalize; font-weight: 600">
      login
    </a>

    <div *ngIf="loggedin()">
      <a mat-flat-button color="primary" (click)="logout()" aria-label="Example icon with heart icon"
        style="text-transform: capitalize; font-weight: 600">
        logout
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <ul class="side_bar">
      <li>
        <button mat-button [routerLink]="['/home']">home</button>
      </li>
      <li>
        <button mat-button [routerLink]="['/plans']">View Plans</button>
      </li>
      <li *ngIf="admin()">
        <button mat-button [routerLink]="['/planlist']">Plan List</button>
      </li>
      <li *ngIf="admin()">
        <button mat-button [routerLink]="['/userlist']">User List</button>
      </li>

      <li *ngIf="!loggedin()">
        <button mat-button [routerLink]="['/signup']">signup</button>
      </li>
      <li *ngIf="admin()">
        <button mat-button [routerLink]="['/categorylist']">Categories</button>
      </li>

      <li *ngIf="admin()">
        <button mat-button [routerLink]="['/videoupload']">Video Upload</button>
      </li>

      <li *ngIf="loggedin()">
        <button mat-button [routerLink]="['/settings']">Settings</button>
      </li>
    </ul>

    <ul class="side_bar bottom">
      <li>
        <button mat-button [routerLink]="['/about']">About Us</button>
      </li>
      <li>
        <button mat-button [routerLink]="['/contactus']">Contact Us</button>
      </li>
      <li>
        <button mat-button [routerLink]="['/termsandconditions']">Terms & Conditions</button>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>