.example-form {
  min-width: 150px;
  max-width: 95%;
  // width: 100%;
  padding: 10px;
}

.example-full-width {
  width: 100%;
}

td {
  // padding-right: 8px;
}
.checkout {
  margin: 0 auto;
  width: 50%;
  border-radius: 2px;
  box-shadow: 0px 6px 6px 4px #ccc;
  transition: 15s ease-in;
}
@media (max-width: 425px) {
  .checkout {
    width: 100%;
  }
}
