css .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.login {
  margin: 0 auto;
  width: 50%;
}
.center {
  position: absolute;
  top: 50%;
  text-align: center;
}

.component_head{
  width: 100%;
  text-align: center;
}
.signup {
  width: 50%;
  margin: 0 auto;
  
}