<div class="signup" style="margin: 4rem auto;">
  <mat-card id="card" style="text-align: center; width: 50vw; margin: 0 auto">
    <mat-card-title>
      <b>Signup</b>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="First Name" />
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="Last Name" />
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" />
      </mat-form-field><br/>

      <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput type="password"  />
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" />
      </mat-form-field><br/>
      <button mat-raised-button color="accent" style="margin-right:5px;">Signup</button>
		<button mat-raised-button color="accent" style="margin-right:5px;">Reset</button>
    </mat-card-content>
  </mat-card>
</div>

