<div class="wrapper">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="aligncenter">
      <div>
        <a mat-button color="link" [routerLink]="['/home']" class="logo">
          <span>streamo </span>
        </a>
      </div>
      <div >
        <ul>
          <li class="li">
            <a href="#" color="primary" [routerLink]="['/about']">About us</a>
          </li>
          <li class="li">
            <a href="#" color="primary" [routerLink]="['/contact']">Contact us</a>
          </li>
          <li class="li">
            <a href="#" color="primary" [routerLink]="['/termandcondition']">Terms and conditions</a>
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>