<div class="footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="aligncenter">
        <div class="footerLinks">
          <div class="logo">
            <a mat-button color="link" [routerLink]="['/home']">
              <span class="footer_logo">streameo </span>

            </a>
          </div>
        </div>
        <div class="footerLinks">
          <!-- <ul>
          <li class="li">
            <a href="#" color="primary" [routerLink]="['/about']">About us</a>
          </li>
          <li class="li">
            <a href="#" color="primary" [routerLink]="['/contact']">Contact us</a>
          </li>
          <li class="li">
            <a href="#" color="primary" [routerLink]="['/termandcondition']">Terms and conditions</a>
          </li>
        </ul> -->
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>